body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.contact-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    height: 70%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container h1 {
    text-align: center;
    color: #333;
}

.contact-container form {
    margin-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.contact-container form label {
    margin-top: 10px;
    color: #333;
}

.contact-container form input,
textarea,
select,
button {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-container form button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    width: 25%;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 15px;
    font-weight: bold;
}

.contact-container form button:hover {
    background-color: #555;
}

.required {
    color: red;
    margin-left: 5px;
}